
<footer class="bg-dark"><!-- pt-4 my-md-5 pt-md-5 -->
  <div class="container py-4">
    <div class="row">

      <div class="col-md-3 col-lg-4 mb-3">

        <ul class="list-unstyled list-inline mb-4 my-lg-4">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/poweredbylionenergy/" target="_blank" class="h4 text-white-50">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/lionenergy/" target="_blank" class="h4 text-white-50">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://g.page/LionEnergy" target="_blank" class="h4 text-white-50">
              <i class="bi bi-google"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/c/LionEnergy" target="_blank" class="h4 text-white-50">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>

        <small class="d-block mb-3 text-muted"> Safe. Silent. Renewable. Power.<br>&copy; {{ 'now' | date: '%Y' }} Lion Energy</small>

      </div>
      
      <div class="col-md-9 col-lg-8 mb-3">
        <div class="row">
          <div class="col-6 col-sm-3">
            {% assign fm1 = linklists.products %}
            <h5 class="text-white-50">{{ fm1.title }}</h5>
            <ul class="list-unstyled text-small">
              {% for fl1 in fm1.links %}
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ fl1.url }}">{{ fl1.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-6 col-sm-3">
            {% assign fm1 = linklists.company %}
            <h5 class="text-white-50">{{ fm1.title }}</h5>
            <ul class="list-unstyled text-small">
              {% for fl1 in fm1.links %}
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ fl1.url }}">{{ fl1.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-6 col-sm-3">
            {% assign fm1 = linklists.footer %}
            <h5 class="text-white-50">{{ fm1.title }}</h5>
            <ul class="list-unstyled text-small">
              {% for fl1 in fm1.links %}
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ fl1.url }}">{{ fl1.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-6 col-sm-3">
            <h5 class="text-white-50">Partnerships</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pages/international">International</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>