
{% paginate blog.articles by 10 %}
<div class="container d-flex flex-wrap justify-content-evenly my-5">
	{% for article in blog.articles %}

		{% assign featured_image_src = '' %}
		{% if article.image %}
			{% assign featured_image_src = article | img_url: 'large' %}
		{% endif %}

		<div class="card col-lg-5 mb-5" style="">
			{% unless featured_image_src == blank %}
				<img class="card-img-top" src="{{ featured_image_src }}" alt="{{ article.title }}">
			{% endunless %}
			<div class="card-body">
				
				<h5 class="card-title">{{ article.title }}</h5>
				<p class="card-text">
					<div class="text-secondary"><em>{{ article.published_at | time_tag: '%b %d, %Y' }}</em></div>
					<div>
						{% if article.excerpt.size > 0 %}
							{{ article.excerpt }}
						{% else %}
							<p>{{ article.content | strip_html | truncatewords: 50 }}</p>
						{% endif %}
					</div>
				</p>
				<a href="{{ article.url }}" class="btn btn-link">Read More</a>
			</div>
		</div>

	{% endfor %}
</div>


<div class="row">
	<div class="col-12">
		
		<nav aria-label="Search Results Navigation">
			<ul class="pagination pagination-lg justify-content-center">
				
				{% if paginate.previous.is_link %}
				<li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}"> <i class="bi bi-caret-left"></i> Previous </a></li>
				{% endif %}
				
				{% for part in paginate.parts %}
					{% if part.is_link %}
						<li class="page-item"><a class="page-link" href="{{ part.url }}"> {{ part.title }} </a></li>
					{% else %}
					
						{% if part.title contains '&hellip;' %}
						<li class="page-item"><span class="page-link"> {{ part.title }} </span></li>
						{% else %}
						<li class="page-item active"><span class="page-link"> {{ part.title }} </span></li>
						{% endif %}
						
					{% endif %}
				{% endfor %}
				
				{% if paginate.next.is_link %}
				<li class="page-item"><a class="page-link" href="{{ paginate.next.url }}"> Next <i class="bi bi-caret-right"></i> </a></li>
				{% endif %}
				
			</ul>
		</nav>
		
	</div>
</div>
{% endpaginate %}
