{% assign debug = false %}

{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}


<div class="container my-5">


	{% if debug %}
		<div class="row mb-5 p-5 bg-dark">
			<div class="col-6">
				<h1 class="text-center text-danger">DEBUG ENABLED</h1>
			</div>
			<div class="col-6 text-white">
					<h6 class="my-4">Available: {% if product.available %}In Stock{% else %}Out of Stock{% endif %}</h6>
					<h6>Variants</h6>
					{% if product.has_only_default_variant %}
							{% for variant in product.variants %}
								<div>
								{{ variant.id }} - {{ variant.title }} [ qty {{ variant.inventory_quantity }} ] -- SINGLE VARIANT
								</div>
							{% endfor%}
					{% else %}
						{% for variant in product.variants %}
								<div>
								{{ variant.id }} - {{ variant.title }} [ qty {{ variant.inventory_quantity }} ]
								</div>
						{% endfor%}
					{% endif %}
					<h6 class="my-4">Selected Variant:  {{ product.selected_or_first_available_variant.id }}</h6>
			</div>
		</div>
	{% endif %}
	
	
	<div class="row gx-5">

		<div class="col-lg-7">
			
			<!-- START MAGICZOOMPLUS IMAGES -->{% render 'magiczoomplus' %}<!-- END MAGICZOOMPLUS IMAGES -->
			
		</div>
		<div class="col-lg-5">
				
				
				<h1>{{ product.title }}</h1>
				
				<div class="mb-3">
					{% unless product.metafields.lionenergy.tagline == blank %}
						<h5>{{ product.metafields.lionenergy.tagline }}</h5>
					{% endunless %}
				</div>
				
				
				<div class="mb-3">
					<div style="height: 54px;">
						{% render 'product-price', product: product, use_variant: true %}
					</div>
				</div>
				
				
				<div class="my-4" class="row">
					<div class="col-12">
						{{ product.description }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						
					</div>
				</div>
				
				
				{% comment %}
				* * *   FUTURE FEATURE:  PRODUCT UPSELLS (Powered by Rawr Code)   * * *
				{% endcomment %}
				{% comment %}
				{% if product.metafields.lionenergy.upsells %}
				
					<div>Upsells</div>
					<div>Type: {{ product.metafields.lionenergy.upsells.type }}</div>
					<div>Wash: {{ product.metafields.lionenergy.upsells.value }}</div>
					
					{% assign upsells = product.metafields.lionenergy.upsells.value | split: ',' %}
					<ul class="list-group">
						
						{% for upsell in upsells %}
							{% if all_products[upsell].available == true %}
							
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div class="d-flex align-items-center">
										<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
										<img class="mx-3" src="{{ all_products[upsell] | img_url }}" style="max-height: 50px; max-width: 50px;" />
										{{ all_products[upsell].title }}
									</div>
									<span>
										<strong>{{ all_products[upsell].price | money }}</strong>
									</span>
								</li>
								
							{% endif %}
						{% endfor %}
						
					</ul>
					
				{% endif %}
				{% endcomment %}
				
				
				{% comment %}
				* * *   START:  ADD TO CART FORM   * * *
				{% endcomment %}
				{% form 'product', product %}
				  
					{% if product.has_only_default_variant %}
						{% for variant in product.variants %}
							<input type="hidden" id="product-select" name="id" value="{{ variant.id }}">
						{% endfor%}
					{% else %}
						{% for variant in product.variants %}
          					
          					
							<a class="btn {% if product.selected_or_first_available_variant.id == variant.id %}btn-outline-warning{% else %}btn-outline-dark{% endif %} m-2" id="variant-option-{{ variant.id }}" name="variant-{{ variant.id }}" href="{{ variant.url }}" role="button"> {{ variant.title }} </a>
							
          					
						{% endfor%}
					{% endif %}
				  
				  	<input type="hidden" id="product-select" name="id" value="{{ product.selected_or_first_available_variant.id }}">
					<input type="hidden" name="quantity" min="1" value="1">
					
					
					<div class="d-grid gap-2 col-12 my-3 mx-auto">
						{% if product.available %}
							<button type="submit" class="btn btn-lg btn-warning"> <i class="bi bi-cart2"></i>  Add to Cart  </button>
						{% else %}
							<button type="button" class="btn btn-secondary btn-lg" disabled>Out of Stock</button>
						{% endif %}
					</div>
				  
				{% endform %}
				{% comment %}
				* * *   END:  ADD TO CART FORM   * * *
				{% endcomment %}
				
				

		</div>
	</div>
	
	
	<div class="row">
		<div class="col">
			<!-- Lower Area - Full Product Box Width -->
		</div>
	</div>
	
	
</div>

<a id="info" name="info"></a>

{{product.metafields.shogun.below}}
